/* .ant-select-dropdown {
    height: 100% !important;
    max-height: 400px !important;
    overflow-y: scroll !important;
} */
.individual-list-section {
    border: 1px solid #f8f8f8;
    height: 100%;
    max-height: 140px;
    overflow-y: auto;
    width: 100%;
    /* border: 1px solid #0000003b; */
    border-right: 1px solid #0000003b;
    border-top: 1px solid #0000003b;
    border-bottom: 1px solid #0000003b;
}
.ant-checkbox-wrapper {
    padding-left:20px;
    height: 40px;
    display: flex !important;
    align-items: center;
    border-top: 1px solid #0000003b;
}

.ant-checkbox-wrapper:nth-child(1) {
    border-top: none;

}
.bottom-section {
    height: 60px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}


.clear-button {
    font-weight: bold;
    cursor: pointer;
}
.submit-button {
    font-weight: bold;
    padding-left: 30px;
    color: #6EC8AA;
    cursor: pointer;
}
.ant-checkbox-wrapper-checked span:nth-child(2) {
    font-weight: bold;
    color: #8A92D7;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #000000;
    border-color: #000000;
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
    height: 2px;
    background-color: #f8f8f8;
}
.ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #000000;
    border-color: #000000;
}
.checkBoxBlock {
    display:block;
}
.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px !important;
}
